@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?3u1bhb');
  src:  url('/fonts/icomoon.eot?3u1bhb#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?3u1bhb') format('truetype'),
    url('/fonts/icomoon.woff?3u1bhb') format('woff'),
    url('/fonts/icomoon.svg?3u1bhb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-logo:before {
  content: "\e930";
}
.icon-link-solid-full:before {
  content: "\e91f";
}
.icon-wifi-solid-full:before {
  content: "\e920";
}
.icon-whatsapp-brands-solid-full:before {
  content: "\e921";
}
.icon-clock-rotate-left-solid-full:before {
  content: "\e922";
}
.icon-handshake-solid-full:before {
  content: "\e923";
}
.icon-bell-solid-full:before {
  content: "\e924";
}
.icon-store-solid-full:before {
  content: "\e925";
}
.icon-circle-info-solid-full:before {
  content: "\e926";
}
.icon-lock-solid-full:before {
  content: "\e927";
}
.icon-check-solid-full:before {
  content: "\e928";
}
.icon-minus-solid-full:before {
  content: "\e929";
}
.icon-plus-solid-full:before {
  content: "\e92a";
}
.icon-trash-solid-full:before {
  content: "\e92b";
}
.icon-cart-shopping-solid-full:before {
  content: "\e92c";
}
.icon-IEEE:before {
  content: "\e92d";
}
.icon-RAS:before {
  content: "\e92e";
}
.icon-WIE:before {
  content: "\e92f";
}
.icon-archive:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-career-flag:before {
  content: "\e902";
}
.icon-circle:before {
  content: "\e903";
}
.icon-directory:before {
  content: "\e904";
}
.icon-dove:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-down-square-arrow:before {
  content: "\e907";
}
.icon-envelope:before {
  content: "\e908";
}
.icon-eye:before {
  content: "\e909";
}
.icon-eye-slash:before {
  content: "\e90a";
}
.icon-file:before {
  content: "\e90b";
}
.icon-file-image:before {
  content: "\e90c";
}
.icon-file-pdf:before {
  content: "\e90d";
}
.icon-file-word:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e90f";
}
.icon-id:before {
  content: "\e910";
}
.icon-in-session:before {
  content: "\e911";
}
.icon-landmark:before {
  content: "\e912";
}
.icon-laptop:before {
  content: "\e913";
}
.icon-left-arrow:before {
  content: "\e914";
}
.icon-location-pin:before {
  content: "\e915";
}
.icon-magnifying-glass:before {
  content: "\e916";
}
.icon-map:before {
  content: "\e917";
}
.icon-out-session:before {
  content: "\e918";
}
.icon-percent:before {
  content: "\e919";
}
.icon-question:before {
  content: "\e91a";
}
.icon-right-arrow:before {
  content: "\e91b";
}
.icon-up-square-arrow:before {
  content: "\e91c";
}
.icon-user:before {
  content: "\e91d";
}
.icon-close:before {
  content: "\e91e";
}
